.hero-section {
    background-image: url('../../assets/images/train_high_gym_coming_soon_3.webp');
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: relative;
}

.hero-section::before {
    content: "";
    background-color: rgba(0,0,0,.5);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}