.badge-select {
  padding: 8px 18px;
  border-radius: 30px;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: 0.25s;
  user-select: none;
  font-size: 14px;
  background: #f8f9fa;
}

.badge-select:hover {
  border-color: var(--theme-black);
}

.badge-select.active {
  background: var(--theme-black);
  color: white;
  border-color: var(--theme-black);
}